.map-container {
  margin: 40px;
}

.map-frame {
  border: 1px solid black;
  height: 50%;
  width: 60vw;
}

#map {
  height: 60vh;
}

.leaflet-control-locate a {
  background-image: url("../../assets/images/locate.png");
}

.leaflet-control-locate.requesting a {
  background-image: url("../../assets/images/spinner.gif");
}

.leaflet-control-locate.active a {
  background-image: url("../../assets/images/locate_active.png");
}
