<div class="card" style="width: 48rem; height: 400px; margin: 0 auto">
  <img src="{{ imagePath }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h1 class="card-title">{{ name }}</h1>
    <p>Difficulty {{ difficulty }}</p>
    <p>Uncommonness {{ uncommonness }}</p>
    <p>Population {{ population }}</p>
    <p class="card-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque,
      exercitationem! Voluptatem, quo doloremque necessitatibus reprehenderit
      nesciunt ipsum praesentium maxime! Hic autem, obcaecati quam dignissimos
      consequatur perspiciatis itaque, ratione dicta architecto ipsum adipisci
      illum optio nulla? Incidunt, cupiditate asperiores. Accusamus quia in non
      beatae rerum sunt nulla sed incidunt facilis, maiores tempore,
      reprehenderit nostrum, quod nesciunt quaerat ullam doloribus. Placeat,
      voluptatem, modi ab tenetur laudantium saepe ex tempore labore cum
      voluptates dolorem. Reprehenderit facilis dolor eum porro, obcaecati quae
      minus voluptate officiis pariatur tempore nisi. Porro rerum, perspiciatis,
      voluptas at non delectus dignissimos vitae hic in reprehenderit fugiat,
      temporibus necessitatibus praesentium.
    </p>
  </div>
</div>
