<head>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<header>
  <nav class="navbar navbar-static navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand mb-0 h1" href="/">GeoFighter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul *ngIf="isLoggedIn" class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cards
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a *ngIf="isLoggedIn" class="dropdown-item" href="/card/nearby">Nearby cards</a></li>
            <li><a *ngIf="isLoggedIn" class="dropdown-item" href="/card/applyCard">Create new card</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a *ngIf="isLoggedIn" class="dropdown-item" href="/nearbyUsers">Nearby users</a></li>
            <li><a *ngIf="isLoggedIn" class="dropdown-item" href="/users">All users</a></li>
            <li><a *ngIf="isLoggedIn" class="dropdown-item" href="/leaderboard">Leaderboard</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/battle">Battle</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{username}}
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a *ngIf="isLoggedIn" class="dropdown-item" [href]="'users/' + username">My profile</a></li>
            <li *ngIf="role!=='ROLE_CARTOGRAPHER' && role!=='ROLE_ADMIN'" class="dropdown-item"><a class="nav-link" href="/cartographerApply">Cartographer Apply</a></li>
            <div *ngIf="role==='ROLE_ADMIN'" class="dropdown-divider"></div>
            <li *ngIf="role==='ROLE_ADMIN'" class="dropdown-header">Admin</li>
            <li><a *ngIf="role==='ROLE_ADMIN'" class="dropdown-item" href="/admin/users">Manage users</a></li>
            <li><a *ngIf="role==='ROLE_ADMIN'" class="dropdown-item" href="/admin/cards">Manage cards</a></li>
            <li><a *ngIf="role==='ROLE_ADMIN'" class="dropdown-item" href="/admin/cartographerApplications">Cartographer applications</a></li>
            <div *ngIf="role==='ROLE_CARTOGRAPHER' || role==='ROLE_ADMIN'" class="dropdown-divider"></div>
            <li *ngIf="role==='ROLE_CARTOGRAPHER' || role==='ROLE_ADMIN'" class="dropdown-header">Cartographer</li>
            <li><a *ngIf="role==='ROLE_CARTOGRAPHER' || role==='ROLE_ADMIN'" class="dropdown-item" href="/cartographer/cardApplications">Card Applications</a></li>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/login" (click)="logout()">Logout</a>
          </ul>
        </li>
      </ul>
      <ul *ngIf="!isLoggedIn" class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
