.register-section {
  margin: 100px;
}

.btn-signup{
  font-size: 0.8rem;
    letter-spacing: 0.05rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.card-radius{
  border-radius: 1.3rem;
}

.card-header-radius{
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}

.input-radius{
  border-radius: 0.9rem;
}