<div class="geofighter-body">
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="active">
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#">
              <img  class="logo-icon" src="assets/images/user.png">
              <span></span> User
            </a>
          </li>
          <li >
            <a href="/battle">
              <img  class="logo-icon" src="assets/images/battle.png">
              <span></span> Battle
            </a>
          </li>
          <li>
            <a href="#">
              <img  class="logo-icon" src="assets/images/leaderboard.png">
              <span></span> Leaderboard
            </a>
          </li>
          <li>
            <a href="#">
              <img  class="logo-icon" src="assets/images/add_location.png">
              <span></span> Add new location
            </a>
          </li>
          <li>
            <a href="#">
              <img  class="logo-icon" src="assets/images/card_applications.png">
              <span></span> Card applications
            </a>
          </li>
          <li>
            <a href="#">
              <img  class="logo-icon" src="assets/images/people.png">
              <span></span> All users
            </a>
          </li>
          <li>
            <a href="#">
              <img  class="logo-icon" src="assets/images/cards.png">
              <span></span> All cards
            </a>
          </li>
        </ul>
      </nav>
      <div class="battle-container">
          <div id="content" class="p-4 p-md-5 bottom">
            <h3>Battle time!</h3>
            <p class="p">Pick your cards:</p>
            <div class="card-container">
              <div class="card" style="width: 16rem; height: 400px; margin: 10px;">
                <img src="assets/images/sunset.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                  <p>Score</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary btn-font">See more</a>
                  <a href="#" class="btn btn-primary btn-font">Pick card</a>
                </div>
              </div>
              <div class="card" style="width: 16rem; height: 400px; margin: 10px;">
                <img src="assets/images/flower.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                  <p>Score</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary btn-font">See more</a>
                  <a href="#" class="btn btn-primary btn-font">Pick card</a>
                </div>
              </div>
              <div class="card" style="width: 16rem; height: 400px; margin: 10px;">
                <img src="assets/images/sun.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                  <p>Score</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary btn-font">See more</a>
                  <a href="#" class="btn btn-primary btn-font">Pick card</a>
                </div>
              </div>
              <div class="card" style="width: 16rem; height: 400px; margin: 10px;">
                <img src="assets/images/moon.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                  <p>Score</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary btn-font">See more</a>
                  <a href="#" class="btn btn-primary btn-font">Pick card</a>
                </div>
              </div>
            </div>
          </div>
          <div id="content" class="p-4 p-md-5 ">
            <p class="p">Pick your opponent:<a href="#" class="btn btn-primary btn-players">See players around you</a></p>
            
          </div>
          <hr>
      </div>
    </div>
</div>
