<div class="geofighter-body">
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="active"> 
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#">
              <img  class="logo-icon" src="assets/images/user.png">
              <span></span> User
            </a>
          </li>
          <li >
            <a href="/battle">
              <img  class="logo-icon" src="assets/images/battle.png">
              <span></span> Battle
            </a>
          </li>
          <li>
            <a href="#">
              <img  class="logo-icon" src="assets/images/leaderboard.png">
              <span></span> Leaderboard
            </a>
          </li>
          <li>
            <a href="#">
              <img  class="logo-icon" src="assets/images/add_location.png">
              <span></span> Add new location
            </a>
          </li>
          <li *ngIf="role==='ROLE_CARTOGRAPHER'">
            <a href="#">
              <img  class="logo-icon" src="assets/images/card_applications.png">
              <span></span> Card applications
            </a>
          </li>
          <li *ngIf="role==='ROLE_ADMIN'">
            <a href="#">
              <img  class="logo-icon" src="assets/images/people.png">
              <span></span> All users
            </a>
          </li>
          <li *ngIf="role==='ROLE_ADMIN'">
            <a href="#">
              <img  class="logo-icon" src="assets/images/cards.png">
              <span></span> All cards
            </a>
          </li>
        </ul>
      </nav> 
      <div class="battle-container">
          <div id="content" class="p-4 p-md-5 bottom">
            <h3>Battle time!</h3>
            <p class="p">Pick your cards:</p>
            <div class="card-container">
              <div id="card-geo" class="card">
                <ul *ngIf="userCards!==undefined" id="card-geo" class="list-group">
                  <li *ngFor="let userCard of userCards" id="card-geo" class="list-group-item card">
                      <img src={{userCard.photoURL}} id="card-geo" class="card-img-top">
                        <div class="card-body" id="card-geo">
                          <h6 class="card-title">{{userCard.name}}</h6>
                          <p class="card-text card-description">{{userCard.description}}</p>
                          <span class="btn-bottom">
                            <a href="#" id="btn-card-geo" class="btn btn-primary btn-font">See more</a>
                            <a href="#" id="btn-card-geo" class="btn btn-primary btn-font">Pick card</a>
                          </span>
                        </div>
                  </li>
                </ul>
              </div>
            </div>
            <p *ngIf="userCards===undefined || userCards.length==0"> No cards yet</p>
            <p class="p">Pick your opponent:<a href="#" class="btn btn-primary btn-players">See players around you</a></p>
          </div>
          <hr>
      </div>
    </div>
</div>
