<div class="container">
  <div class="row">
    <hr/>
    <div class="col-md-11">
      <h2>List of Cartographer Applicants</h2>
      <ul *ngIf="applicants!==undefined" class="list-group">
        <li *ngFor="let applicant of applicants" class="list-group-item">
          <p>Username: {{applicant.username}}</p>
          <p>Email: {{applicant.email}}</p>
          <p>Joined: {{applicant.joinedDate}}</p>
          <button class="btn btn-primary" (click)="accept(applicant.username)">Accept</button>
        </li>
      </ul>
      <p *ngIf="applicants===undefined || applicants.length==0"> No Applicants</p>
    </div>
  </div>
</div>
