<div class="container">
  <div class="row">
    <hr/>
    <div class="col-md-11">
      <h2>List of Location cards</h2>
      <ul *ngIf="cards!==undefined" class="list-group">
        <li *ngFor="let card of cards" class="list-group-item">
          <p>Id: {{card.id}}</p>
          <p>Name: {{card.name}}</p>
          <p>Description: {{card.description}}</p>
          <button
            class="btn btn-primary"
            (click)="editForm(card)"
            data-toggle="modal"
            data-target="#editWindow"
          >
            Edit
          </button>
          <button class="btn btn-danger float-right" (click)="delete(card.id)">Delete</button>
        </li>
      </ul>
      <p *ngIf="cards===undefined || cards.length==0"> No Cards</p>
    </div>
  </div>
</div>

<div id="editWindow" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit card</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editCardForm">
          <div class="form-group row">
            <label for="name" class="col-md-4 col-form-label text-md-right"
            >Name</label
            >
            <div class="col-md-6">
              <input
                type="text"
                [formControlName]="'name'"
                id="name"
                class="form-control input-radius"
                name="name"
                required
                autofocus
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right"
            >Description</label
            >
            <div class="col-md-6">
              <input
                type="text"
                [formControlName]="'description'"
                class="form-control input-radius"
                required
                autofocus
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="photoURL" class="col-md-4 col-form-label text-md-right"
            >Photo URL</label
            >
            <div class="col-md-6">
              <input
                type="url"
                [formControlName]="'photoURL'"
                id="photoURL"
                class="form-control input-radius"
                name="photoURL"
                required
              />
              <span
                *ngIf="
                  !editCardForm.get('photoURL').valid &&
                  editCardForm.get('photoURL').touched
                "
              >
                Please provide a valid URL
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right"
            >Uncommonness</label
            >
            <div class="col-md-6">
              <input
                type="number"
                [formControlName]="'uncommonness'"
                class="form-control input-radius"
                required
                autofocus
              />
              <div
                  *ngIf="
                  !editCardForm.get('uncommonness').valid &&
                  editCardForm.get('uncommonness').touched
                  "
                >
                  Please provide a number between 0 and 10
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right"
            >Difficulty</label
            >
            <div class="col-md-6">
              <input
                type="number"
                [formControlName]="'difficulty'"
                class="form-control input-radius"
                required
                autofocus
              />
              <div
                  *ngIf="
                  !editCardForm.get('difficulty').valid &&
                  editCardForm.get('difficulty').touched
                  "
                >
                  Please provide a number between 0 and 10
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right"
            >Population</label
            >
            <div class="col-md-6">
              <input
                type="number"
                [formControlName]="'population'"
                class="form-control input-radius"
                required
                autofocus
              />
              <div
                  *ngIf="
                  !editCardForm.get('population').valid &&
                  editCardForm.get('population').touched
                  "
                >
                  Please provide a number between 0 and 10
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="edit()"
        >
          Accept
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
